input {
    cloudwatch_logs {
        log_group => [ "accounting-logs-web01" ]
        tags      => ["production","accounting-logs-web01"]
        type      => "accounting-logs-web01"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]
        
    }

    cloudwatch_logs {
        log_group => [ "accounting-logs-web02" ]
        tags      => ["production","accounting-logs-web02"]
        type      => "accounting-logs-web02"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
    cloudwatch_logs {
        log_group => [ "accounting-logs-qaweb01" ]
        tags      => ["qa","accounting-logs-qaweb01"]
        type      => "accounting-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
    cloudwatch_logs {
        log_group => [ "accounting-logs-devweb01" ]
        tags      => ["dev","accounting-logs-devweb01"]
        type      => "accounting-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
	cloudwatch_logs {
        log_group => [ "yodleeapi-logs-web11" ]
        tags      => ["production","yodleeapi-logs-web11"]
        type      => "yodleeapi-logs-web11"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]
        
    }

    cloudwatch_logs {
        log_group => [ "yodleeapi-logs-web16" ]
        tags      => ["production","yodleeapi-logs-web16"]
        type      => "yodleeapi-logs-web16"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
    cloudwatch_logs {
        log_group => [ "yodleeapi-logs-qaweb01" ]
        tags      => ["qa","yodleeapi-logs-qaweb01"]
        type      => "yodleeapi-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
    cloudwatch_logs {
        log_group => [ "yodleeapi-logs-devweb01" ]
        tags      => ["dev","yodleeapi-logs-devweb01"]
        type      => "yodleeapi-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
	cloudwatch_logs {
        log_group => [ "accountingexpenseapi-logs-web12" ]
        tags      => ["production","accountingexpenseapi-logs-web12"]
        type      => "accountingexpenseapi-logs-web12"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]
        
    }

    cloudwatch_logs {
        log_group => [ "accountingexpenseapi-logs-web15" ]
        tags      => ["production","accountingexpenseapi-logs-web15"]
        type      => "accountingexpenseapi-logs-web15"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
    cloudwatch_logs {
        log_group => [ "accountingexpenseapi-logs-qaweb01" ]
        tags      => ["qa","accountingexpenseapi-logs-qaweb01"]
        type      => "accountingexpenseapi-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
    cloudwatch_logs {
        log_group => [ "accountingexpenseapi-logs-devweb01" ]
        tags      => ["dev","accountingexpenseapi-logs-devweb01"]
        type      => "accountingexpenseapi-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
	cloudwatch_logs {
        log_group => [ "accountingdashboardapi-logs-web12" ]
        tags      => ["production","accountingdashboardapi-logs-web12"]
        type      => "accountingdashboardapi-logs-web12"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]
        
    }

    cloudwatch_logs {
        log_group => [ "accountingdashboardapi-logs-web11" ]
        tags      => ["production","accountingdashboardapi-logs-web11"]
        type      => "accountingdashboardapi-logs-web11"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
    cloudwatch_logs {
        log_group => [ "accountingdashboardapi-logs-qaweb01" ]
        tags      => ["qa","accountingdashboardapi-logs-qaweb01"]
        type      => "accountingdashboardapi-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
    cloudwatch_logs {
        log_group => [ "accountingdashboard-logs-devweb01" ]
        tags      => ["dev","accountingdashboard-logs-devweb01"]
        type      => "accountingdashboard-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
	cloudwatch_logs {
        log_group => [ "accountingreports-logs-web12" ]
        tags      => ["production","accountingreports-logs-web12"]
        type      => "accountingreports-logs-web12"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]
        
    }

    cloudwatch_logs {
        log_group => [ "accountingreports-logs-web15" ]
        tags      => ["production","accountingreports-logs-web15"]
        type      => "accountingreports-logs-web15"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
    cloudwatch_logs {
        log_group => [ "accountingreportsapi-logs-qaweb02" ]
        tags      => ["qa","accountingreportsapi-logs-qaweb02"]
        type      => "accountingreportsapi-logs-qaweb02"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
    cloudwatch_logs {
        log_group => [ "accountingreportsapi-logs-devweb01" ]
        tags      => ["dev","accountingreportsapi-logs-devweb01"]
        type      => "accountingreportsapi-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","accounting"]

    }
}

output {
       if [type] == 'accounting-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "accounting-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'accounting-logs-qaweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "accounting-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'accounting-logs-web01' or [type] == 'accounting-logs-web02' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "accounting-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	    if [type] == 'yodleeapi-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "yodleeapi-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'yodleeapi-logs-qaweb02' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "yodleeapi-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'yodleeapi-logs-web11' or [type] == 'yodleeapi-logs-web16' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "yodleeapi-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'accountingexpenseapi-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "accountingexpenseapi-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'accountingexpenseapi-logs-qaweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "accountingexpenseapi-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'accountingexpenseapi-logs-web12' or [type] == 'accountingexpenseapi-logs-web15' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "accountingexpenseapi-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }


       if [type] == 'accountingdashboard-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "accountingdashboardapi-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'accountingdashboardapi-logs-qaweb02' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "accountingdashboardapi-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'accountingdashboardapi-logs-web11' or [type] == 'accountingdashboardapi-logs-web12' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "accountingdashboardapi-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }

       if [type] == 'accountingreportsapi-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "accountingreportsapi-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'accountingreportsapi-logs-qaweb02' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "accountingreportsapi-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'accountingreports-logs-web12' or [type] == 'accountingreports-logs-web15' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "accountingreportsapi-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }


}