input {
    cloudwatch_logs {
        log_group => [ "aoadmin-logs-web01" ]
        tags      => ["production","aoadmin-logs-web01"]
        type      => "aoadmin-logs-web01"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]
        
    }

    cloudwatch_logs {
        log_group => [ "aoadmin-logs-web02" ]
        tags      => ["production","aoadmin-logs-web02"]
        type      => "aoadmin-logs-web02"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]

    }
    cloudwatch_logs {
        log_group => [ "aoadmin-logs-qaweb01" ]
        tags      => ["qa","aoadmin-logs-qaweb01"]
        type      => "aoadmin-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]

    }
    cloudwatch_logs {
        log_group => [ "aoadmin-logs-devweb01" ]
        tags      => ["dev","aoadmin-logs-devweb01"]
        type      => "aoadmin-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]

    }
	cloudwatch_logs {
        log_group => [ "aocommon-logs-web01" ]
        tags      => ["production","aocommon-logs-web01"]
        type      => "aocommon-logs-web01"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]
        
    }

    cloudwatch_logs {
        log_group => [ "aocommon-logs-web02" ]
        tags      => ["production","aocommon-logs-web02"]
        type      => "aocommon-logs-web02"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]

    }
    cloudwatch_logs {
        log_group => [ "aocommon-logs-qaweb01" ]
        tags      => ["qa","aocommon-logs-qaweb01"]
        type      => "aocommon-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]

    }
    cloudwatch_logs {
        log_group => [ "aocommon-logs-devweb01" ]
        tags      => ["dev","aocommon-logs-devweb01"]
        type      => "aocommon-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]

    }
	cloudwatch_logs {
        log_group => [ "awpurchase-logs-web01" ]
        tags      => ["production","awpurchase-logs-web01"]
        type      => "awpurchase-logs-web01"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]
        
    }

    cloudwatch_logs {
        log_group => [ "awpurchase-logs-web02" ]
        tags      => ["production","awpurchase-logs-web02"]
        type      => "awpurchase-logs-web02"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]

    }
    cloudwatch_logs {
        log_group => [ "awpurchase-logs-qaweb01" ]
        tags      => ["qa","awpurchase-logs-qaweb01"]
        type      => "awpurchase-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]

    }
    cloudwatch_logs {
        log_group => [ "awpurchase-logs-devweb01" ]
        tags      => ["dev","awpurchase-logs-devweb01"]
        type      => "awpurchase-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]

    }
	cloudwatch_logs {
        log_group => [ "practicerelief-logs-web01" ]
        tags      => ["production","practicerelief-logs-web01"]
        type      => "practicerelief-logs-web01"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]
        
    }

    cloudwatch_logs {
        log_group => [ "practicerelief-logs-web02" ]
        tags      => ["production","practicerelief-logs-web02"]
        type      => "practicerelief-logs-web02"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]

    }
    cloudwatch_logs {
        log_group => [ "practicerelief-logs-qaweb01" ]
        tags      => ["qa","practicerelief-logs-qaweb01"]
        type      => "practicerelief-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]

    }
    cloudwatch_logs {
        log_group => [ "practicerelief-logs-devweb01" ]
        tags      => ["dev","practicerelief-logs-devweb01"]
        type      => "practicerelief-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","admin"]

    }
}

output {
       if [type] == 'aoadmin-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "aoadmin-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'aoadmin-logs-qaweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "aoadmin-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'aoadmin-logs-web02' or [type] == 'aoadmin-logs-web01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "aoadmin-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
       if [type] == 'aocommon-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "aocommon-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'aocommon-logs-qaweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "aocommon-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'aocommon-logs-web02' or [type] == 'aocommon-logs-web01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "aocommon-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
       if [type] == 'awpurchase-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "awpurchase-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'awpurchase-logs-qaweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "awpurchase-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'awpurchase-logs-web02' or [type] == 'awpurchase-logs-web01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "awpurchase-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	    if [type] == 'practicerelief-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "practicerelief-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'practicerelief-logs-qaweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "practicerelief-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'practicerelief-logs-web02' or [type] == 'practicerelief-logs-web01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "practicerelief-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }



}