input {
    cloudwatch_logs {
        log_group => [ "cloudcabinet-logs-web01" ]
        tags      => ["production","cloudcabinet-logs-web01"]
        type      => "cloudcabinet-logs-web01"
        interval  => 80
        start_position => beginning
        add_field => ["application","miscellaneous"]
        
    }

    cloudwatch_logs {
        log_group => [ "cloudcabinet-logs-web02" ]
        tags      => ["production","cloudcabinet-logs-web02"]
        type      => "cloudcabinet-logs-web02"
        interval  => 80
        start_position => beginning
        add_field => ["application","miscellaneous"]

    }
    cloudwatch_logs {
        log_group => [ "cloudcabinet-logs-qaweb01" ]
        tags      => ["qa","cloudcabinet-logs-qaweb01"]
        type      => "cloudcabinet-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","miscellaneous"]

    }
    cloudwatch_logs {
        log_group => [ "cloudcabinet-logs-devweb01" ]
        tags      => ["dev","cloudcabinet-logs-devweb01"]
        type      => "cloudcabinet-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","miscellaneous"]

    }
   cloudwatch_logs {
        log_group => [ "cloudcabinetapi-logs-web01" ]
        tags      => ["production","cloudcabinetapi-logs-web01"]
        type      => "cloudcabinetapi-logs-web01"
        interval  => 80
        start_position => beginning
        add_field => ["application","miscellaneous"]
        
    }

    cloudwatch_logs {
        log_group => [ "cloudcabinetapi-logs-web02" ]
        tags      => ["production","cloudcabinetapi-logs-web02"]
        type      => "cloudcabinetapi-logs-web02"
        interval  => 80
        start_position => beginning
        add_field => ["application","miscellaneous"]

    }
    cloudwatch_logs {
        log_group => [ "cloudcabinetapi-logs-qaweb01" ]
        tags      => ["qa","cloudcabinetapi-logs-qaweb01"]
        type      => "cloudcabinetapi-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","miscellaneous"]

    }
    cloudwatch_logs {
        log_group => [ "cloudcabinetapi-logs-devweb01" ]
        tags      => ["dev","cloudcabinetapi-logs-devweb01"]
        type      => "cloudcabinetapi-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","miscellaneous"]

    }
	cloudwatch_logs {
        log_group => [ "bprm-logs-web02" ]
        tags      => ["production","bprm-logs-web02"]
        type      => "bprm-logs-web02"
        interval  => 80
        start_position => beginning
        add_field => ["application","miscellaneous"]

    }
    cloudwatch_logs {
        log_group => [ "bprm-logs-qaweb01" ]
        tags      => ["qa","bprm-logs-qaweb01"]
        type      => "bprm-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","miscellaneous"]

    }
    cloudwatch_logs {
        log_group => [ "bprm-logs-devweb01" ]
        tags      => ["dev","bprm-logs-devweb01"]
        type      => "bprm-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","miscellaneous"]

    }
	 cloudwatch_logs {
        log_group => [ "emailapi-logs-web02" ]
        tags      => ["production","emailapi-logs-web02"]
        type      => "emailapi-logs-web02"
        interval  => 80
        start_position => beginning
        add_field => ["application","miscellaneous"]

    }
    cloudwatch_logs {
        log_group => [ "emailapi-logs-web01" ]
        tags      => ["production","emailapi-logs-qaweb01"]
        type      => "emailapi-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","miscellaneous"]

    }
    cloudwatch_logs {
        log_group => [ "emailapi-logs-qaweb01" ]
        tags      => ["qa","emailapi-logs-devweb01"]
        type      => "emailapi-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","miscellaneous"]

    }
}

output {
       if [type] == 'cloudcabinet-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "cloudcabinet-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'cloudcabinet-logs-qaweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "cloudcabinet-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'cloudcabinet-logs-web02' or [type] == 'cloudcabinet-logs-web01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "cloudcabinet-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
										 if [type] == 'bprm-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "bprm-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'bprm-logs-qaweb02' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "bprm-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'bprm-logs-web02'  {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "bprm-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'emailapi-logs-qaweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "emailapi-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   
	   if [type] == 'emailapi-logs-web01'  or [type] ==  'emailapi-logs-web02' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "emailapi-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
             if [type] == 'cloudcabinetapi-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "cloudcabinetapi-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'cloudcabinetapi-logs-qaweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "cloudcabinetapi-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'cloudcabinetapi-logs-web02' or [type] == 'cloudcabinetapi-logs-web01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "cloudcabinetapi-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }






}