input {
    cloudwatch_logs {
        log_group => [ "payroll-logs-web03" ]
        tags      => ["production","payroll-logs-web03"]
        type      => "payroll-logs-web03"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]
        
    }

    cloudwatch_logs {
        log_group => [ "payroll-logs-web04" ]
        tags      => ["production","payroll-logs-web04"]
        type      => "payroll-logs-web04"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
    cloudwatch_logs {
        log_group => [ "payroll-logs-qaweb01" ]
        tags      => ["qa","payroll-logs-qaweb01"]
        type      => "payroll-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
    cloudwatch_logs {
        log_group => [ "payroll-logs-qaweb02" ]
        tags      => ["qa","payroll-logs-qaweb02"]
        type      => "payroll-logs-qaweb02"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
    cloudwatch_logs {
        log_group => [ "payroll-logs-devweb01" ]
        tags      => ["dev","payroll-logs-devweb01"]
        type      => "payroll-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
}

output {
      if [type] == 'payroll-logs-web03' {
                                 elasticsearch {
                                 
                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payroll-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
      if [type] == 'payroll-logs-web04' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payroll-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
      if [type] == 'payroll-logs-qaweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payroll-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
       if [type] == 'payroll-logs-qaweb02' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payroll-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
       if [type] == 'payroll-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payroll-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
}
