input {
    cloudwatch_logs {
        log_group => [ "payroll-logs-web03" ]
        tags      => ["production","payroll-logs-web03"]
        type      => "payroll-logs-web03"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]
        
    }

    cloudwatch_logs {
        log_group => [ "payroll-logs-web04" ]
        tags      => ["production","payroll-logs-web04"]
        type      => "payroll-logs-web04"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
    cloudwatch_logs {
        log_group => [ "payroll-logs-qaweb01" ]
        tags      => ["qa","payroll-logs-qaweb01"]
        type      => "payroll-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
    cloudwatch_logs {
        log_group => [ "payroll-logs-qaweb02" ]
        tags      => ["qa","payroll-logs-qaweb02"]
        type      => "payroll-logs-qaweb02"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
    cloudwatch_logs {
        log_group => [ "payroll-logs-devweb01" ]
        tags      => ["dev","payroll-logs-devweb01"]
        type      => "payroll-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollprocessingapi-logs-web11" ]
        tags      => ["prod","payrollprocessingapi-logs-web11"]
        type      => "payrollprocessingapi-logs-web11"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollprocessingapi-logs-web16" ]
        tags      => ["prod","payrollprocessingapi-logs-web16"]
        type      => "payrollprocessingapi-logs-web16"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollprocessingapi-logs-qaweb01" ]
        tags      => ["qa","payrollprocessingapi-logs-qaweb01"]
        type      => "payrollprocessingapi-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollprocessingapi-logs-devweb01" ]
        tags      => ["dev","payrollprocessingapi-logs-devweb01"]
        type      => "payrollprocessingapi-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollsetupapi-logs-web11" ]
        tags      => ["prod","payrollsetupapi-logs-web11"]
        type      => "payrollsetupapi-logs-web11"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollsetupapi-logs-web16" ]
        tags      => ["prod","payrollsetupapi-logs-web16"]
        type      => "payrollsetupapi-logs-web16"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollsetupapi-logs-qaweb01" ]
        tags      => ["qa","payrollsetupapi-logs-qaweb01"]
        type      => "payrollsetupapi-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollsetupapi-logs-devweb01" ]
        tags      => ["dev","payrollsetupapi-logs-devweb01"]
        type      => "payrollsetupapi-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "formsengineapi-logs-web11" ]
        tags      => ["prod","formsengineapi-logs-web11"]
        type      => "formsengineapi-logs-web11"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "formsengineapi-logs-web16" ]
        tags      => ["prod","formsengineapi-logs-web16"]
        type      => "formsengineapi-logs-web16"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "formsengineapi-logs-qaweb01" ]
        tags      => ["qa","formsengineapi-logs-qaweb01"]
        type      => "formsengineapi-logs-qaweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "formsengineapi-logs-devweb01" ]
        tags      => ["dev","formsengineapi-logs-devweb01"]
        type      => "formsengineapi-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollentryapi-logs-web12" ]
        tags      => ["prod","payrollentryapi-logs-web12"]
        type      => "payrollentryapi-logs-web12"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollentryapi-logs-web15" ]
        tags      => ["prod","payrollentryapi-logs-web15"]
        type      => "payrollentryapi-logs-web15"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollentryapi-logs-qaweb02" ]
        tags      => ["qa","payrollentryapi-logs-qaweb02"]
        type      => "payrollentryapi-logs-qaweb02"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollentryapi-logs-devweb01" ]
        tags      => ["dev","payrollentryapi-logs-devweb01"]
        type      => "payrollentryapi-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollapicore-logs-web12" ]
        tags      => ["prod","payrollapicore-logs-web12"]
        type      => "payrollapicore-logs-web12"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollapicore-logs-web15" ]
        tags      => ["prod","payrollapicore-logs-web15"]
        type      => "payrollapicore-logs-web15"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollapicore-logs-qaweb02" ]
        tags      => ["qa","payrollapicore-logs-qaweb02"]
        type      => "payrollapicore-logs-qaweb02"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollapicore-logs-devweb01" ]
        tags      => ["dev","payrollapicore-logs-devweb01"]
        type      => "payrollapicore-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollworkerscompinsurance-logs-web12" ]
        tags      => ["prod","payrollworkerscompinsurance-logs-web12"]
        type      => "payrollworkerscompinsurance-logs-web12"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollworkerscompinsurance-logs-web15" ]
        tags      => ["prod","payrollworkerscompinsurance-logs-web15"]
        type      => "payrollworkerscompinsurance-logs-web15"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollworkerscompinsurance-logs-qaweb02" ]
        tags      => ["qa","payrollworkerscompinsurance-logs-qaweb02"]
        type      => "payrollworkerscompinsurance-logs-qaweb02"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
	cloudwatch_logs {
        log_group => [ "payrollworkerscompinsurance-logs-devweb01" ]
        tags      => ["dev","payrollworkerscompinsurance-logs-devweb01"]
        type      => "payrollworkerscompinsurance-logs-devweb01"
        interval  => 80
        start_position => beginning
        add_field => ["application","payroll"]

    }
}

output {
      if [type] == 'payroll-logs-web03' {
                                 elasticsearch {
                                 
                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payroll-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
      if [type] == 'payroll-logs-web04' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payroll-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
      if [type] == 'payroll-logs-qaweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payroll-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
       if [type] == 'payroll-logs-qaweb02' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payroll-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
       if [type] == 'payroll-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payroll-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
       if [type] == 'payrollprocessingapi-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollprocessingapi-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'payrollprocessingapi-logs-qaweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollprocessingapi-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'payrollprocessingapi-logs-web11' or [type] == 'payrollprocessingapi-logs-web16' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollprocessingapi-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	  if [type] == 'payrollsetupapi-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollsetupapi-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'payrollsetupapi-logs-qaweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollsetupapi-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'payrollsetupapi-logs-web11' or [type] == 'payrollsetupapi-logs-web16' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollsetupapi-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'formsengineapi-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "formsengineapi-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'formsengineapi-logs-qaweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "formsengineapi-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'formsengineapi-logs-web11' or [type] == 'formsengineapi-logs-web16' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "formsengineapi-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'payrollentryapi-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollentryapi-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'payrollentryapi-logs-qaweb02' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollentryapi-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'payrollentryapi-logs-web12' or [type] == 'payrollentryapi-logs-web15' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollentryapi-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
       if [type] == 'payrollapicore-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollapicore-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'payrollapicore-logs-qaweb02' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollapicore-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'payrollapicore-logs-web12' or [type] == 'payrollapicore-logs-web15' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollapicore-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'payrollworkerscompinsurance-logs-devweb01' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollworkerscompinsurance-dev-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'payrollworkerscompinsurance-logs-qaweb02' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollworkerscompinsurance-qa-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'payrollworkerscompinsurance-logs-web12' or [type] == 'payrollworkerscompinsurance-logs-web15' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "payrollworkerscompinsurance-prod-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
}
