input {
    cloudwatch_logs {
        log_group => [ "security-logs-web01" ]
        type      => "security-logs-web01"
        interval  => 80
        start_position => beginning
        
        
    }
	cloudwatch_logs {
        log_group => [ "security-logs-web02" ]
        type      => "security-logs-web02"
        interval  => 80
        start_position => beginning
        
        
    }
	cloudwatch_logs {
        log_group => [ "security-logs-web08" ]
        type      => "security-logs-web08"
        interval  => 80
        start_position => beginning
        
        
    }
	cloudwatch_logs {
        log_group => [ "security-logs-web12" ]
        type      => "security-logs-web12"
        interval  => 80
        start_position => beginning
        
        
    }
}
output{
if [type] == 'security-logs-web01' or [type] == 'security-logs-web02' or [type] == 'security-logs-web08' or [type] == 'security-logs-web12'{
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "security-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
										 
}