input {
    
    cloudwatch_logs {
        log_group => [ "emailmanager-logs-web08" ]
        tags      => ["production","emailmanager-logs-web08"]
        type      => "emailmanager-logs-web08"
        interval  => 80
        start_position => beginning
        add_field => ["application","emailmanager-logs-web08"]

    }
    cloudwatch_logs {
        log_group => [ "processeft2017-logs-web08" ]
        tags      => ["production","processeft2017-logs-web08"]
        type      => "processeft2017-logs-web08"
        interval  => 80
        start_position => beginning
        add_field => ["application","processeft2017-logs-web08"]

    }
    cloudwatch_logs {
        log_group => [ "processmanager-logs-web08" ]
        tags      => ["production","processmanager-logs-web08"]
        type      => "processmanager-logs-web08"
        interval  => 80
        start_position => beginning
        add_field => ["application","processmanager-logs-web08"]

    }
}

output {
       if [type] == 'emailmanager-logs-web08' {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "emailmanager-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   
	   if [type] == 'processeft2017-logs-web08'  {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "processeft2017-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
                                         }
	   if [type] == 'processmanager-logs-web08'  {
                                 elasticsearch {

                                    hosts =>  ["http://172.24.90.184:9200"]
                                    index  =>  "processmanager-%{+yyyy.MM.dd}"
                                    user   =>  "elastic"
                                    password => "Strong#Pass@"
                                                }
												}




}